PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE contatos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT NOT NULL,
    telefone TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
  );
INSERT INTO contatos VALUES(1,'camilota','camila.nakazato67@gmail.com','67992567964','2025-06-11 16:26:33');
INSERT INTO contatos VALUES(2,'fernandinha','fernandinha@gmail.com','6702938109283291','2025-06-11 16:31:11');
CREATE TABLE jaboque_descontos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    telefone TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
  );
INSERT INTO jaboque_descontos VALUES(1,'cammilota','67992567964','2025-06-11 16:59:06');
CREATE TABLE desconto_emails (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    email TEXT NOT NULL,
    telefone TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
  );
INSERT INTO desconto_emails VALUES(1,'camila.nakazato67@gmail.com','67992567964','2025-06-27 17:29:39');
INSERT INTO sqlite_sequence VALUES('contatos',2);
INSERT INTO sqlite_sequence VALUES('jaboque_descontos',1);
INSERT INTO sqlite_sequence VALUES('desconto_emails',1);
COMMIT;
