PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE contatos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT NOT NULL,
    telefone TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
  );
CREATE TABLE jaboque_descontos (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    nome TEXT NOT NULL,
    email TEXT NOT NULL,
    telefone TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
  );
INSERT INTO jaboque_descontos VALUES(1,'asdgasdf','camila.nakazato67@gmail.com','67992567964','2025-06-27 17:37:23');
INSERT INTO jaboque_descontos VALUES(2,'asdadfgsgfa','camila.nakazato67@gmail.com','67992567964','2025-06-27 17:40:41');
INSERT INTO jaboque_descontos VALUES(3,'Camila Akemy','camila.nakazato67@gmail.com','67992567964','2025-06-27 18:12:59');
CREATE TABLE desconto_emails (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    email TEXT NOT NULL,
    telefone TEXT NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
  );
INSERT INTO desconto_emails VALUES(1,'camila.nakazato67@gmail.com','67992567964','2025-06-27 18:12:24');
INSERT INTO desconto_emails VALUES(2,'fernandaqualharello@hotmail.com','67991462332','2025-06-27 18:26:17');
INSERT INTO desconto_emails VALUES(3,'fideles34@gmail.com','67982045665','2025-06-27 18:37:19');
INSERT INTO sqlite_sequence VALUES('jaboque_descontos',6);
INSERT INTO sqlite_sequence VALUES('desconto_emails',3);
COMMIT;
